#gameover {
  width: 510px;
  height: 510px;
  background-color: black;
  color: white;
  position: absolute;
  top: 8px;
  text-align: center;
  display: none;
}

h1 {
  padding-top: 100px;
}
